@import 'normalize';
$open-sans: 'Open Sans';
$space-mono: 'Space Mono';
$white: #fff;
$black: #000;
$heart: #be1931;
$p-text-color: #3e3e3e;
$michigan-maize: #ffcb05;
$michigan-blue: #00274c;
$gradient-color-one: #2f80ed;
$gradient-color-two: #56ccf2;
$h1-text-size: 48px;
$h2-text-size: 36px;
$p-text-size: 18px;
$a-tags: 'a, a:active, a:hover, a:visited';
$anchor-link-default: #265c83;
$anchor-link-hover: #7fdbff;
$anchor-link-active: #0074d9;
$transparent: rgba(0, 0, 0, 0);
@mixin links-opacity ($link, $visit, $hover, $active) {
  a {
    opacity: $link;
    &:visited {
      opacity: $visit;
    }
    &:hover {
      opacity: $hover;
    }
    &:active {
      opacity: $active;
    }
  }
}

@mixin links-color ($link, $visit, $hover, $active) {
  a {
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;
    }
    &:active {
      color: $active;
    }
  }
}

@mixin center-elements {
  margin: 0 auto;
  max-width: 40em;
}

@mixin linear-gradient-theme {
  background: linear-gradient(to right, $gradient-color-one, $gradient-color-two);
}

@mixin text-stroke($stroke-width, $stroke-color, $text-color) {
  // Add text-stroke to supported browsers
  @supports ((-webkit-text-fill-color: $text-color)) {
    -webkit-text-fill-color: $text-color;
  }
  @supports ((-webkit-text-stroke-color: $stroke-color) and (-webkit-text-stroke-width: $stroke-width)) {
    -webkit-text-stroke: $stroke-width $stroke-color;
  } // Fallbacks for unsupported browsers
  @supports not ((-webkit-text-fill-color: $text-color)) {
    color: $text-color;
  }
  @supports not ((-webkit-text-stroke-color: $stroke-color) and (-webkit-text-stroke-width: $stroke-width)) {
    text-shadow: -1px -1px 1px $michigan-blue, 1px -1px 1px $michigan-blue, -1px 1px 1px $michigan-blue, 1px 1px 1px $michigan-blue;
  }
}

@mixin font-selection($family: 'Open Sans', $weight: 400) {
  @if $family=='Open Sans' {
    font-family: $family, sans-serif;
    font-weight: $weight;
  }
  @if $family=='Space Mono' {
    font-family: $family, monospace;
    font-weight: $weight;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  main {
    padding: 0 1em;
  }
}

* {
  -webkit-tap-highlight-color: $transparent;
}

body {
  @include font-selection;
  background-color: $white;
}

strong {
  font-weight: 700;
}

::selection {
  background: $gradient-color-one;
  color: $white;
}

#{$a-tags} {
  cursor: pointer;
  outline: 0;
  text-decoration: none;
}

// Top Banner
header {
  @include linear-gradient-theme;
  cursor: default;
  padding: 3vw 2em;
  text-align: center;
  user-select: none;
}

header .jc-logo {
  border: 5px solid $white;
  border-radius: 50%;
}

header h1 {
  @include font-selection($open-sans, 700);
  color: $white;
  font-size: $h1-text-size;
}

/*
*******************
Social Link Styling
*/

header ul {
  list-style-type: none;
  padding: 0;
}

header ul li {
  @include links-opacity(1, 1, 0.6, 0.6);
  display: inline-block;
}

header a {
  display: block;
  svg {
    padding: 0 0.5em;
    path {
      fill: $white;
    }
  }
}

/*
Social Link Styling
*******************
*/

// Main Content
main {
  @include center-elements;
  color: $black;
  position: relative; // Fixes full width selection in Safari
}

main section h2 {
  @include font-selection($space-mono, 700);
  font-size: $h2-text-size;
}

main section p {
  @include links-color($anchor-link-default, $anchor-link-default, $anchor-link-hover, $anchor-link-active);
  @include font-selection;
  color: $p-text-color;
  font-size: $p-text-size;
  line-height: 1.75em;
}

.go-blue-text {
  @include text-stroke(1px, $michigan-blue, $michigan-maize)letter-spacing: 0.05em;
}

footer {
  @include center-elements;
  text-align: center;
}

hr {
  background-image: linear-gradient(to right, $transparent, $p-text-color, $transparent);
  border: 0;
  height: 1px;
}

footer p {
  @include font-selection;
  color: $p-text-color;
  font-size: $p-text-size;
  svg path {
    fill: $heart;
  }
}